@{
    ViewBag.Title = "Home Page";
}

<hr />

<div>
    @Html.ActionLink("User Login", "UserLogin", "User")
</div>

<hr />
<div>
    @Html.ActionLink("User Registration", "Create", "User")
</div>

<hr />
<div>
    @Html.ActionLink("Agent Registration", "AgentCreate","Agent")
</div>